body{

font-family:Segoe UI;

background:#eef2f7;

margin:0;

}


.container{

width:900px;

margin:auto;

margin-top:40px;

}


h1{

text-align:center;

color:#2c3e50;

}


h2{

color:#2c3e50;

margin-top:40px;

}



.card{

background:white;

padding:20px;

border-radius:10px;

box-shadow:0 5px 15px rgba(0,0,0,0.1);

}



input{

width:100%;

padding:12px;

margin-top:10px;

margin-bottom:10px;

border-radius:6px;

border:1px solid #ccc;

}



.btn-add{

background:#27ae60;

color:white;

border:none;

padding:12px;

width:100%;

border-radius:6px;

font-size:16px;

cursor:pointer;

}


.btn-add:hover{

background:#219150;

}



.btn-update{

background:#f39c12;

color:white;

border:none;

padding:12px;

width:100%;

border-radius:6px;

cursor:pointer;

}



.search-btn{

background:#2980b9;

color:white;

border:none;

padding:10px 25px;

border-radius:6px;

cursor:pointer;

margin-top:10px;

}



.search-btn:hover{

background:#21618c;

}



table{

width:100%;

border-collapse:collapse;

margin-top:20px;

background:white;

}



th{

background:#2c3e50;

color:white;

padding:12px;

}



td{

padding:12px;

border-bottom:1px solid #ddd;

}



.edit{

color:#2980b9;

font-weight:bold;

margin-right:10px;

}



.delete{

color:red;

font-weight:bold;

}
.search-btn{

background:#007bff !important;

color:white !important;

border:none;

padding:12px 30px;

border-radius:8px;

font-size:16px;

cursor:pointer;

}


.search-btn:hover{

background:#0056b3 !important;

}